<h2 class="form-title">PERFIL</h2>
<button id="btn-back" class="btn-back" title="Volver a atras" data-modal="Views/forms/clientprov/clipro_list.html">
    <svg width="20" height="20"><use href="#back" xlink:href="#back"/></svg>
</button>
<div class="form-entity-profile">
    <div class="left-section">
        <div class="header_clipro_left">
            <div class="clipro_photo"></div>
        </div>
        <span class="range"></span>
    </div>
    <div class="right-section">
        <div class="clipro_name">
            <span class="name"></span>
        </div>

        <div class="clipro_dni">
            <span class="label">DNI / CUIT</span>
            <span class="value"></span>
        </div>

        <div class="clipro_contact">
            <div class="phone">
                <span class="label">Teléfono</span>
                <span class="value"></span>
            </div>
            <div class="clipro_email">
                <span class="label">Correo electrónico</span>
                <span class="value"></span>
            </div>
            <div class="clipro_localidad">
                <span class="label">Localidad</span>
                <span class="value"></span>
            </div>
        </div>
    </div>
</div>