<h2 class="form-title">COBROS AUTOMÁTICOS DE CHEQUES DE HOY</h2>

<div id="cobros_automaticos_container" class="cobros_automaticos_container">
    <div class="scroll_cobro_automatico">
        <div id="list_cheques_cobrados" class="list_cheques_cobrados">
            <div id="sin_cheques" class="sin_cheques">
                <div class="sin_cheques_icon">
                    <svg viewBox="0 0 24 24"><use href="#icon-cheque" xlink:href="#icon-cheque"/></svg>
                </div>
                <span id="sin_cheques_text" class="sin_cheques_text">No se cobraron Cheques automáticamente hoy</span>
            </div>
        </div>
    </div>
</div>

<div class="form-actions">
    <button type="button" class="btn btn-primary" data-modal="Views/forms/cheques/resumen_cheque.html">Atras</button>
    <button type="button" class="btn btn-cancel" data-close-modal>Finalizar</button>
</div>