<header class="header">
    <div class="header-title">
        <img class="dashboard-logo" src="./Backend/flujodefondos/uploads/icons/logo.png" alt="Logo" width="40" height="40">
        <h1>Flujo de Fondos</h1>
    </div>
    <aside class="accordion">
        <div class="menu-group">
            <button data-target="sub-movimientos">MOVIMIENTOS <span class="chevron">▶</span></button>
            <div id="sub-movimientos" class="submenu">
                <a data-modal="Views/forms/movimientos/nuevo_movimiento.html" href="#">NUEVO MOVIMIENTO</a>
            </div>
        </div>

        <div class="menu-group">
            <button data-target="sub-cheques">CHEQUES <span class="chevron">▶</span></button>
            <div id="sub-cheques" class="submenu">
                <div class="submenu-nivel2">
                    <button data-target="sub-nuevo">NUEVO <span class="chevron">▶</span></button>
                    <div id="sub-nuevo" class="submenu-nivel3-container">
                        <a data-modal="Views/forms/cheques/cheque_propio.html" href="#">CHEQUE PROPIO</a>
                        <a data-modal="Views/forms/cheques/cheque_terceros.html" href="#">CHEQUE DE TERCEROS</a>
                    </div>
                </div>
                <div class="submenu-nivel2">
                    <button data-target="sub-emitidos">EMITIDOS <span class="chevron">▶</span></button>
                    <div id="sub-emitidos" class="submenu-nivel3-container">
                        
                    </div>
                </div>
                <div class="submenu-nivel2">
                    <button data-target="sub-acobrar">A COBRAR <span class="chevron">▶</span></button>
                    <div id="sub-acobrar" class="submenu-nivel3-container">
                        
                    </div>
                </div>
            </div>
        </div>
    </aside>
</header>

<nav class="nav">
    <ul class="nav-list">
        <li class="nav-item icon">
            <button data-view="Views/queries/datos.html">
                <img src="./Backend/flujodefondos/uploads/icons/ff.png" alt="" height="40">
            </button>
        </li>
        <li class="nav-item">
            <button data-view="Views/queries/movimientos.html">MOVIMIENTOS</button>
        </li>
        <li class="nav-item cheques">
            <button data-target="sub-cheques-nav">CHEQUES</button>
            <ul class="nav-submenu" id="sub-cheques-nav">
                <li><a href="#" data-view="Views/queries/ch_a_cobrar.html">A COBRAR</a></li>
                <li><a href="#" data-view="Views/queries/ch_emitidos.html">EMITIDOS</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <button data-view="Views/queries/cuentas.html">CUENTAS</button>
        </li>
        <li class="nav-item">
            <button data-view="Views/queries/operaciones.html">OPERACIONES</button>
        </li>
        <li class="nav-item icon">
            <button>
                <img src="./Backend/flujodefondos/uploads/icons/calendario.png" data-view="Views/queries/reportes.html" alt="" height="40">
            </button>
        </li>
    </ul>
</nav>

<main id="content" class="main"></main>

<script src="Scripts/dashboard/menus/menus.js"></script>
<script src="Scripts/dashboard/nav/nav.js"></script>