<nav class="nav">
    <ul class="nav-list">
        <li class="nav-item icon">
            <button data-view="Views/queries/datos.html">
                <img src="./Backend/flujodefondos/uploads/icons/ff.png" alt="" height="40">
            </button>
        </li>
        <li class="nav-item">
            <button data-view="Views/queries/movimientos.html">MOVIMIENTOS</button>
        </li>
        <li class="nav-item cheques">
            <button data-target="sub-cheques-nav">CHEQUES</button>
            <ul class="nav-submenu" id="sub-cheques-nav">
                <li><a href="#" data-view="Views/queries/ch_a_cobrar.html">A COBRAR</a></li>
                <li><a href="#" data-view="Views/queries/ch_emitidos.html">EMITIDOS</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <button data-view="Views/queries/cuentas.html">CUENTAS</button>
        </li>
        <li class="nav-item">
            <button data-view="Views/queries/operaciones.html">OPERACIONES</button>
        </li>
        <li class="nav-item icon">
            <button>
                <img src="./Backend/flujodefondos/uploads/icons/calendario.png" data-view="Views/queries/reportes.html" alt="" height="40">
            </button>
        </li>
    </ul>
</nav>

<main id="content" class="main"></main>

<script src="Scripts/dashboard/nav/nav.js"></script>
<script src="Scripts/dashboard/forms/users/userService.js"></script>
<script src="Scripts/dashboard/forms/users/userTemplates.js"></script>
<script src="Scripts/dashboard/forms/users/userForm.js"></script>
<script src="Scripts/dashboard/forms/users/userProfile.js"></script>