/* ── ENCABEZADO ───────────────────────────────────── */

/* Contenedor principal del encabezado */
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

/* Contenedor del logo y el título de la aplicación */
.header-title {
    display: flex;
    align-items: center;
    padding: 0 0 0 0.76rem;
}

/* Título principal de la aplicación */
.header-title h1 {
    margin: 0;
    font-weight: bold;
    font-size: 1.44rem;
    font-family: "Dancing Script", cursive;
}

/* Espaciado entre el logo y el título */
.header-title img {
    margin-right: 0.32rem;
}