<h2 class="report_title">ELEGIR FORMATO DEL REPORTE</h2>

<div id="new_report" class="new_report">
    <button type="button" id="btn_pdf" class="buttom_report pdf">
        <svg class="icon_report"><use href="#pdf" xlink:href="#pdf"/></svg>
        <h2>PDF</h2>
    </button>
    <button type="button" id="btn_excel" class="buttom_report excel">
        <svg class="icon_report"><use href="#excel" xlink:href="#excel"/></svg>
        <h2>EXCEL</h2>
    </button>
    <button type="button" id="btn_csv" class="buttom_report csv">
        <svg class="icon_report"><use href="#csv" xlink:href="#csv"/></svg>
        <h2>CSV</h2>
    </button>
</div>

<div class="form-actions">
    <button type="button" class="btn btn-cancel" data-close-modal>Cancelar</button>
</div>