<h2 class="form-title">REGISTRAR NUEVO CONCEPTO</h2>

<form id="form_new_cuentabanco" class="form">
    <div class="form-grid">

        <div class="form-group">
            <label for="name">Cuenta / Banco <span>*</span></label>
            <input type="text" id="name" name="name" placeholder="Cuenta o Banco..." required>
        </div>

        <div class="form-group">
            <label for="type">Tipo <span>*</span></label>
            <select id="type" name="type" required>
                <option value="" disabled selected hidden>Elije una opción...</option>
                <option value="P">Propia</option>
                <option value="T">De tercero</option>
            </select>
        </div>
        
    </div>

    <div class="form-actions">
        <button type="reset" id="btn-cancel" class="btn btn-cancel" data-close-modal>Cancelar</button>
        <button type="submit" id="btn-primary" class="btn btn-primary">Guardar</button>
    </div>
</form>