<h2 class="form-title">EDITAR CONCEPTO</h2>

<form id="form_edit_concepto" class="form">
    <div class="form-grid">

        <div class="form-group">
            <label for="name">Concepto <span>*</span></label>
            <input type="text" id="name" name="name" placeholder="Concepto..." required>
        </div>

    </div>

    <div class="form-actions">
        <button type="reset" id="btn-cancel" class="btn btn-cancel" data-close-modal>Cancelar</button>
        <button type="submit" id="btn-primary" class="btn btn-primary">Guardar</button>
    </div>
</form>