<h2 class="form-title">PERFIL</h2>
<button id="btn-back" class="btn-back" title="Volver a atras" data-modal="./Views/forms/users/users_list.html">
    <svg width="20" height="20"><use href="#back" xlink:href="#back"/></svg>
</button>
<div class="form-entity-profile">
    <div class="left-section">
        <div class="header_user_left">
            <div class="user_photo"></div>
        </div>
        <span class="range"></span>
    </div>
    <div class="right-section">
        <div class="user_name">
            <span class="name"></span>
            <span class="user"></span>
        </div>

        <div class="user_dni">
            <span class="label">DNI</span>
            <span class="value"></span>
        </div>

        <div class="user_contact">
            <div class="phone">
                <span class="label">Teléfono</span>
                <span class="value"></span>
            </div>
            <div class="user_email">
                <span class="label">Correo electrónico</span>
                <span class="value"></span>
            </div>
            <div class="user_branch">
                <span class="label">Sucursal</span>
                <span class="value"></span>
            </div>
        </div>
    </div>
</div>