<div class="form_user">
    <header class="header_user">
        <div class="header_user_left">
            <img src="./Backend/flujodefondos/uploads/profiles/Perfil.jpg" alt="" height="96" width="96">
            <div class="user_name">
                <span class="name">Axel Rullo</span>
                <span class="user">@axel_rullo</span>
            </div>
        </div>
        <span class="range">Admin</span>
    </header>

    <div class="user_dni">
        <span class="label">DNI</span>
        <span class="value">46.996.007</span>
    </div>

    <div class="user_contact">
        <div class="phone">
            <span class="label">Teléfono</span>
            <span class="value">341 723-6528</span>
        </div>
        <div class="user_email">
            <span class="label">Correo electrónico</span>
            <span class="value">axelrullo17@gmail.com</span>
        </div>
        <div class="user_branch">
            <span class="label">Sucursal</span>
            <span class="value">Luis Palacios</span>
        </div>
    </div>

    <div class="user_pass">
        <button class="btn-pass">Cambiar contraseña</button>
    </div>
</div>